/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: Lato;
  color: #1e1e1f;
}
body h1 {
  text-align: center;
}
body .round {
  text-align: center;
  font-weight: 700;
  color: #9b4831;
}
body .players {
  display: inline-grid;
  grid-template-columns: 2fr 2fr 2fr;
  width: 100%;
  padding: 7% 15% 3%;
  text-align: center;
}
body .players .player {
  background-color: #5f6062;
  width: 80%;
  height: 30vh;
  margin-left: 6%;
}
body .players .player .scores {
  color: #ffffff;
  background-color: rgba(40, 40, 42, 0.9803921569);
  position: relative;
  top: -6%;
}
body .players .player .playerSelection {
  font-size: 9rem;
  color: #d5d883;
}
body .players h2 {
  margin-top: 30%;
}
body .play {
  text-align: center;
}
body .play h2 {
  color: #9b4831;
}
body .play .choices {
  margin-top: 3%;
}
body .play .choices button {
  color: #d5d883;
  background-color: #28282a;
  border-radius: 50%;
  padding: 2%;
  margin: 0 2%;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.6s ease;
}
body .play .choices :hover {
  transform: scale(1.3);
}
body .pop {
  position: absolute;
  background-color: rgba(40, 40, 42, 0.9843137255);
  text-align: center;
  width: 99.4vw;
  height: 100vh;
  top: 0;
  border-radius: 10px;
  font-size: 4rem;
  padding-top: 10%;
  color: #f4f4f8;
  display: none;
}
body .pop button {
  background: #5f6062;
  margin-top: 5%;
  border-radius: 10px;
  font-size: 3rem;
  padding: 10px 30px;
  color: #f4f4f8;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */